<%- include('../includes/header.ejs') %>

</head>
<body>

    <form action="/products/new" method="post">
        <input name="name" placeholder="Name">
        <button>Salvar</button>
    </form>

<%- include('../includes/footer.ejs') %>