<%- include('../includes/header.ejs') %>
<%- include('../includes/header-imports.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <h3>Register</h3>

    <%- include('../includes/footer.ejs') %>