<nav class="nav">
    <div class="menu--left">
        <span class="menu__logo">Store</span>
        <span class="menu__item">Home</span>
        <span class="menu__item">Carrinho</span>
    </div>
    <div class="menu--right">
        <span class="menu__item">Login</span>
        <span class="menu__item">Logout</span>
    </div>
</nav>
