.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    margin-right: 2rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.5rem;
}

.menu--left .menu__item {
    margin-right: 1rem;
}

.menu--right .menu__item {
    margin-left: 1rem;
}
